---
name: 02 Azure Landing Zones Continuous Delivery
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      skip_what_if:
        description: 'Skip What If Check?'
        type: boolean
        default: false
      governance-int-root:
        description: 'Run Steps: Governance - Intermediate Root'
        type: boolean
        default: true
      governance-landingzones:
        description: 'Run Steps: Governance - Landing Zones'
        type: boolean
        default: true
      governance-landingzones-children:
        description: 'Run Steps: Governance - Landing Zone Children'
        type: boolean
        default: true
      governance-platform:
        description: 'Run Steps: Governance - Platform'
        type: boolean
        default: true
      governance-platform-children:
        description: 'Run Steps: Governance - Platform Children'
        type: boolean
        default: true
      governance-sandbox:
        description: 'Run Steps: Governance - Sandbox'
        type: boolean
        default: true
      governance-decommissioned:
        description: 'Run Steps: Governance - Decommissioned'
        type: boolean
        default: true
      governance-rbac:
        description: 'Run Steps: Governance - Cross-MG RBAC'
        type: boolean
        default: true
      core:
        description: 'Run Steps: Core Logging'
        type: boolean
        default: true
      networking:
        description: 'Run Steps: Networking'
        type: boolean
        default: true

jobs:
  plan_and_apply:
    uses: tiberium-labs/alz-mgmt-templates/.github/workflows/cd-template.yaml@main
    name: 'CD'
    permissions:
      id-token: write
      contents: read
    with:
      skip_what_if: ${{ github.event_name != 'workflow_dispatch' && false || inputs.skip_what_if == true }}
      governance-int-root: ${{ github.event_name != 'workflow_dispatch' && true || inputs.governance-int-root == true }}
      governance-landingzones: ${{ github.event_name != 'workflow_dispatch' && true || inputs.governance-landingzones == true }}
      governance-landingzones-corp: ${{ github.event_name != 'workflow_dispatch' && true || inputs.governance-landingzones-children == true }}
      governance-landingzones-online: ${{ github.event_name != 'workflow_dispatch' && true || inputs.governance-landingzones-children == true }}
      governance-platform: ${{ github.event_name != 'workflow_dispatch' && true || inputs.governance-platform == true }}
      governance-platform-connectivity: ${{ github.event_name != 'workflow_dispatch' && true || inputs.governance-platform-children == true }}
      governance-platform-identity: ${{ github.event_name != 'workflow_dispatch' && true || inputs.governance-platform-children == true }}
      governance-platform-management: ${{ github.event_name != 'workflow_dispatch' && true || inputs.governance-platform-children == true }}
      governance-platform-security: ${{ github.event_name != 'workflow_dispatch' && true || inputs.governance-platform-children == true }}
      governance-sandbox: ${{ github.event_name != 'workflow_dispatch' && true || inputs.governance-sandbox == true }}
      governance-decommissioned: ${{ github.event_name != 'workflow_dispatch' && true || inputs.governance-decommissioned == true }}
      governance-platform-rbac: ${{ github.event_name != 'workflow_dispatch' && true || inputs.governance-rbac == true }}
      governance-platform-connectivity-rbac: ${{ github.event_name != 'workflow_dispatch' && true || inputs.governance-rbac == true }}
      governance-landingzones-rbac: ${{ github.event_name != 'workflow_dispatch' && true || inputs.governance-rbac == true }}
      core-logging: ${{ github.event_name != 'workflow_dispatch' && true || inputs.core == true }}
      networking-hubnetworking: ${{ github.event_name != 'workflow_dispatch' && true || inputs.networking == true }}
